.badge_strip {
  position: absolute;
  background-image: linear-gradient(to bottom, #ff008e, #ffcd1e);
  width: 64px;
  height: 158px;
}
.badge_gap{
  background: #09090a;
  width: 80px;
  height: 8px;
  position: absolute;
  top: 155px;
}
@media screen and (max-width: 375px){
  .badge_strip, .badge_gap{
    display: none;
  }
}